@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/comfortaa/v23/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfJh1Zyc61YA.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v8/UqyVK80NJXN4zfRgbdfbo55cV-UyZKA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', Helvetica;
    background: #fff;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

.navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 7px 14px 0px #f3f3f3;
    justify-content: space-between;
    flex-wrap: nowrap;
    top: 0;
    z-index: 99;
}

.navbar a {
    color: #8f7d76;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Comfortaa', 'Roboto';
    padding: 0;
    margin: 0% 5%;
}

.navbar a:hover{
    color: #bbaaa4;
}

.navcont {
    width: 500px;
    right: 0;
    top: 0;
    padding: 0;
    margin: 26px 0px;
    justify-content: space-between;
    position: absolute;
}

.site-title {
    margin: 14px 0px;
    left: 0;
}

.site-title a {
    font-family: 'Montserrat', 'Roboto';
    font-size: 2em;
    color: #5e4b45;
    padding: 0;
    transition: color 200ms 100ms ease, letter-spacing 200ms 100ms ease;
}

.site-title a:hover {
    color: #8f7d76;
    letter-spacing: 5px;
}

.main-content {
    width: 80%;
    color: #5e4b45;
    padding: 4%;
}

.banner-thing {
    width: 100%;
    height: auto;
    padding: 2em 0em;
    margin-bottom: 3em;
    background-color: #f3efed;
    color: #5e4b45;
    text-align: center;
}

.banner-thing p {
    font-size: 1.3em;
    padding: 0;
    font-family: 'Comfortaa', 'Roboto';
}

.hello {
    margin: 15% 10% 5% 10%;
}

.hello p {
    font-family: 'Comfortaa';
    font-size: 2.5em;
    color: #6b5852;
}

.call-to-action {
    padding: 0;
    margin: 3.5em 0em 0em 1em;
    object-position: center;
}

.call-to-action a {
    font-family: 'Comfortaa';
    border-radius: 20px;
    background-color: #fff;
    color: #bbaaa4;
    border: #bbaaa4 2px solid;
    text-decoration: none;
    padding: 0.7em;
    font-size: 1.2em;
    text-align: center;
    transition: background-color 200ms 100ms ease, color 200ms 100ms ease, border 200ms 100ms ease;
}

.call-to-action a:hover {
    background-color: #8f7d76;
    border: #8f7d76 2px solid;
    color: #fff;
}

.quick-links {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0;
    margin: 1em;
}

.quick-links img {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0em 2em;
    object-fit: cover;
    border-radius: 20px;
}

.about {
    font-family: 'Montserrat', 'Roboto';
    font-size: 1em;
    width: 60%;
    padding: 0;
    margin: 8% 28%;
    justify-content: center;
    align-items: center;
}

.workscont {
    margin-top: 8%;
}

.works {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    padding: 0;
    margin: 4% 10%;
}

.works img {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 0;
    margin: 0em 1em;
}

.project-name {
    margin: 0;
    padding: 1.5em;
    font-size: 1.8em;
    color: #6b5852;
}

.project-desc {
    margin: 0;
    padding: 4em;
    font-size: 1em;
    align-items: center;
    color: #8f7d76;
}

.contact {
    margin: 15% 20%;
}

.contact h2 {
    font-size: 4em;
    color: #6b5852;
}

.contact p {
    font-size: 2em;
    color: #8f7d76;
}

.contact a {
    text-decoration: none;
    padding: 5px 0px;
    border-bottom: 10px solid #cfc1bc;
    color: #5e4b45;
    transition: background-color 150ms 50ms ease, border-bottom 150ms 50ms ease;
}

.contact a:hover {
    border-bottom: 0px;
    background: #cfc1bc;
}

.back {
    padding: 0;
    margin: 1em;
    left: 0;
    top: 0;
}

.back a {
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.8em;
    padding: 0.8em 1em;
    background-color: #bbaaa4;
    color: #5e4b45;
    transition: color 100ms ease, background-color 100ms ease;
}

.back a:hover {
    background-color: #fff;
    color:#8f7d76;
}

.footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    margin-top: 5%;
    box-shadow: 7px 0px 14px 0px #f3f3f3;
}

.footer p {
    color: #bbaaa4;
    font-size: 0.8em;
    text-align: center;
    padding: 16px 0px;
    font-family: 'Comfortaa', Helvetica;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 400ms ease;
  backface-visibility: hidden;
}

.overlay {
  transition: 400ms ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .overlay {
  opacity: 1;
}

.button {
  background-color: #bbaaa4;
  font-size: 1em;
  padding: 16px 32px;
}

.button a {
    text-decoration: none;
    color: #6b5852;
}

.dropbtn {
    display: hidden;
}

.blank {
    padding: 0;
    margin: 12%;
    width: 100%;
}

.cv {
    margin: 10%;
    width: 80%;
}

h3 {
    font-size: 2.5em;
}

.info {
    font-size: 0.9em;
    color: #9e8881;
}

.title {
    font-size: 1.2em;
}

.cvsect {
    margin-bottom: 5%;
}

.idkanymore {
    margin: 5% 0% 0% 10%;
    padding: 0;
    width: 90%;
}

.idkanymore p {
    font-size: 1em;
}

.idkanymore a {
    text-decoration: none;
    padding: 5px 0px;
    color: #9e8881;
    transition: background-color 150ms 50ms ease, border-bottom 150ms 50ms ease;
}

.idkanymore a:hover {
    border-bottom: 0px;
    background: #cfc1bc;
}

.cv a {
    text-decoration: none;
    padding: 5px 0px;
    color: #9e8881;
    background-color 150ms 50ms ease, border-bottom 150ms 50ms ease;
}

.cv a:hover {
    border-bottom: 0px;
    background: #cfc1bc;
}

@media only screen and (max-width: 1000px) {

    .navbar {
        height: 300px;
        text-align: center;
    }

    .navcont {
        display: none;
    }

    .site-title {
        font-size: 3em;
        top: 0;
        text-align: center;
        padding: 0;
        margin-top: 35px;
    }

    .main-content {
        margin: 30% 5%;
    }

    .hello {
        font-size: 1.5em;
    }

    .call-to-action {
        text-align: center;
        margin-top: 1em;
        position: absolute;
    }

    .call-to-action a {
        font-size: 1.5em;
    }

    .banner-thing {
        font-size: 1.5em;
        text-align: center;
    }

    .quick-links {
        display: inline-block;
    }

    .quick-links img {
        width: 90%;
        height: 280px;
        margin: 0% 5% 7% 5%;
        justify-content: center;
    }

    .works {
        display: inline-block;
        text-align: center;
    }

    .works img {
        object-fit: cover;
        width: 96%;
        margin: 0% 2% 5% 2%;
    }

    .project-name {
        font-size: 3em;
        padding: 0;
        margin: 0% 3%;
    }

    .project-desc {
        font-size: 2.2em;
        padding: 1em;
        margin: 5%;
    }   

    .workscont {
        margin-top: 30%;
    }

    .button {
        text-align: center;
    }

    .button a {
        font-size: 2.2em;
    }

    .about {
        margin: 15% 5%;
        font-size: 2em;
        width: 90%;
    }

    .contact {
        margin-top: 40%;
        margin-bottom: 30%;
    }

    .contact p {
        font-size: 3em;
    }

    .footer {
        height: 120px;
        width: 100%;
    }

    .footer p {
        font-size: 2.2em;
        padding-top: 1em;
    }

    .dropbtn {
        padding: 0;
        margin: 16% 40%;
        width: 20%;
        color: #5e4b45;
        font-size: 4em;
        cursor: pointer;
        display: block;
        position: fixed;
        z-index: 999;
        background: hsl(0, 0%, 0%, 0%);
        border-width: 0px;

      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: fixed;
        background-color: #fff;
        margin: 30% 9% 0% 9%;
        width: 800px;
        text-align: center;
        z-index: 999;
      }
      
      .dropdown-content a {
        color: #6b5852;
        border-bottom: 2px solid #bbaaa4;
        padding: 0.5em 0em;
        font-size: 3.5em;
        text-decoration: none;
        display: block;
      }
      
      .dropdown a:hover {background-color: #f3efed;}
      
      .show {display: block;}

}