@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v8/UqyVK80NJXN4zfRgbdfbo55cV-UyZKA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZwjimrqw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZwjimrqw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZwjimrqw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD_vx3rCs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Helvetica;
    background: #fff;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-weight: 400;
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    font-weight: 300;
    color: #2c2c2c;
}

.navbar {
    height: 110px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    flex-wrap: nowrap;
    top: 0;
    right: 30px;
    z-index: 99;
}

.navbar a {
    color: #8f7d76;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', 'Roboto';
    padding: 0;
    margin: 0% 5%;
}

.navbar a:hover{
    color: #bbaaa4;
}

.navcont {
    width: 500px;
    right: 0;
    top: 0;
    padding: 0;
    margin: 44px 0px;
    justify-content: space-between;
    position: absolute;
}

.navcont a{
    margin: 0% 3%;
    border: hsl(0, 0%, 100%, 0) 1px solid;
    border-radius: 20px;
    padding: 8px 15px;
    transition: border 300ms ease-in-out, color 300ms ease-in-out;
}

.navcont a:hover {
    color: #bbaaa4;
    border: #bbaaa4 1px solid;
}

.site-title {
    margin: 33px 0px;
    left: 0;
}

.site-title a {
    font-family: 'Montserrat', 'Roboto';
    font-size: 2em;
    color: #5e4b45;
    padding: 0;
    transition: color 200ms 100ms ease, letter-spacing 200ms 100ms ease;
}

.site-title a:hover {
    color: #8f7d76;
    letter-spacing: 5px;
}

.main-content {
    color: #5e4b45;
}

.background {
    background-image: url("/resources/images/bg.jpg");
    background-repeat: repeat;
    z-index: 9999999;
}

.hello {
    margin: 21% 10% 22% 10%;
}

.hello p {
    font-family: 'Montserrat';
    font-size: 2.5em;
    font-weight: 400;
    color: #876C61;
}

.call-to-action {
    padding: 0;
    margin: 3.5em 0em 0em 0em;
    object-position: center;
}

a.call-to-action, .call-to-action a {
    font-weight: 400;
    font-family: 'Montserrat';
    border-radius: 33px;
    background-color: hsl(0, 0%, 100%, 0);
    color: #bbaaa4;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.7em 1.3em;
    border: hsl(0, 0%, 100%, 0) solid 2px;
    font-size: 1em;
    text-align: center;
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.11);
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.11);
    transition: background-color 200ms 100ms ease, color 200ms 100ms ease, border 200ms 100ms ease;
}

a.call-to-action:hover, .call-to-action a:hover {
    background-color: #E4DBD5;
    border: #E4DBD5 2px solid;
    color: #876C61;
}

.quick-links {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0;
    margin: 1em;
}

.quick-links img {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0em 2em;
    object-fit: cover;
    border-radius: 20px;
}

.about {
    font-family: 'Montserrat', 'Roboto';
    font-size: 1em;
    padding: 0;
    margin: 15% 10% 3% 10%;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.spacer {
    margin: 26% 0%;
}

.title {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #674334;
    margin: 0;
}

.workscont {
    margin-top: 8%;
}

.works-alt {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 6% 10%;
    background-color: #FAF7F4;
    align-items: center;
}

.works {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    padding: 0;
    margin: 6% 10%;
    align-items: center;
}

.works-alt img,
.works img {
    border-radius: 20px;
    width: 550px;
    object-fit: cover;
    padding: 0;
    margin: 0em 1em;
}

.portfolio-title {
    margin: 2% 10% 0% 10%;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #674334;
}

.project-desc {
    margin: 0;
    padding: 4em;
    font-size: 1em;
    align-items: center;
    color: #8f7d76;
}

.contact {
    margin: 15% 20%;
}

.contact h2 {
    font-size: 3em;
    color: #6b5852;
}

.contact p {
    font-size: 1.2em;
    color: #8f7d76;
}

.contact a {
    text-decoration: none;
    padding: 10px 20x;
}

.footer {
    width: 100%;
    height: 80px;
    bottom: 0;
    margin-top: 5%;
    box-shadow: 7px 0px 14px 0px #f3f3f3;
}

.footer p {
    color: #bbaaa4;
    font-size: 0.8em;
    text-align: center;
    padding: 32px 0px;
    font-family: 'Montserrat', Helvetica;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 400ms ease;
  backface-visibility: hidden;
}

.overlay {
  transition: 400ms ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .overlay {
  opacity: 1;
}

.button {
  background-color: #bbaaa4;
  font-size: 1em;
  padding: 16px 32px;
}

.button a {
    text-decoration: none;
    color: #6b5852;
}

.dropbtn {
    display: hidden;
}

.blank {
    padding: 0;
    margin: 12%;
    width: 100%;
}

.cv {
    margin: 5% 13% 0% 13%;
}

.cv p {
    font-weight: 300;
    color: #2c2c2c;
}

.info {
    font-size: 0.9em;
    color: #9e8881;
}

.title {
    font-size: 1.2em;
}

.cvsect {
    margin-bottom: 3%;
}

.idkanymore {
    margin: 13% 35% 0% 45%;
}

.cv a {
    text-decoration: none;
    padding: 5px 0px;
    color: #9e8881;
    background-color: 150ms 50ms ease, border-bottom 150ms 50ms ease;
}

.cv a:hover {
    border-bottom: 0px;
    background-color: #cfc1bc;
}

.cvtopic {
    margin-bottom: 5%;
}

@media only screen and (max-device-width: 1000px) {

    .navbar {
        height: 300px;
        text-align: center;
    }

    .navcont {
        display: none;
    }

    .site-title {
        font-size: 3em;
        top: 0;
        text-align: center;
        padding: 0;
        margin-top: 35px;
    }

    .main-content {
        margin: 30% 5%;
    }

    .hello {
        font-size: 1.5em;
    }

    .call-to-action {
        text-align: center;
        margin-top: 1em;
        position: absolute;
    }

    .call-to-action a {
        font-size: 1.5em;
    }

    .banner-thing {
        font-size: 1.5em;
        text-align: center;
    }

    .quick-links {
        display: inline-block;
    }

    .quick-links img {
        width: 90%;
        height: 280px;
        margin: 0% 5% 7% 5%;
        justify-content: center;
    }

    .works {
        display: inline-block;
        text-align: center;
    }

    .works img {
        object-fit: cover;
        width: 96%;
        margin: 0% 2% 5% 2%;
    }

    .project-name {
        font-size: 3em;
        padding: 0;
        margin: 0% 3%;
    }

    .project-desc {
        font-size: 2.2em;
        padding: 1em;
        margin: 5%;
    }   

    .workscont {
        margin-top: 30%;
    }

    .button {
        text-align: center;
    }

    .button a {
        font-size: 2.2em;
    }

    .about {
        margin: 15% 5%;
        font-size: 2em;
        width: 90%;
    }

    .contact {
        margin-top: 40%;
        margin-bottom: 30%;
    }

    .contact p {
        font-size: 3em;
    }

    .footer {
        height: 120px;
        width: 100%;
    }

    .footer p {
        font-size: 2.2em;
        padding-top: 1em;
    }

}